# This config file is INI-formatted

# Logging level
verbosity=9

# Endpoint where to push data
push_endpoint=http://127.0.0.1:9999

# Metrics endpoint to read data from
metrics_endpoint=http://127.0.0.1:19999

# Report interval in seconds
report_interval=1

# Comma separated metrics that should be reported, available values:
#  - cpu
#  - ram
#  - bandwidth
#
# Leave empty for none, agent will report that it is alive and that's it
metrics=